* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px 10px;

  .search {
    input {
      margin: 10px 0;
      padding: 10px 10px;
      outline: none;
      text-align: center;
    }

    button {
      padding: 10px 20px;
      cursor: pointer;
    }
  }
}

.main {
  width: 100%;
  min-height: 100vh;
  .main-inner {
    margin: auto auto;
    height: 100%;
    max-width: 90%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .user-data {
      max-width: 300px;
      width: 100%;
      height: 300px;
      margin: 10px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border: 1px solid black;

      .user-avatar {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100px;
          height: 100px;
        }
      }

      .user-text {
        width: 100%;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .main {
    width: 100%;
    min-height: 100vh;
    .main-inner {
      margin: auto auto;
      height: 100%;
      max-width: 100%;
      width: 100%;
      justify-content: center;
      align-items: center;
      .user-data {
        max-width: 350px;
        width: 100%;
        margin: 10px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;

        .user-avatar {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100px;
            height: 100px;
          }
        }

        .user-text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          text-align: flex-start;
          p {
            font-size: 14px;
            text-align: flex-start;
          }
        }
      }
    }
  }
}
